<%layout('../layout')%>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit User</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <form name="userEdit" id="userEdit" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- <div class="panel-heading">
                        Basic Form Elements   + $("#cms_id").val(),
                    </div> -->
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="hidden" name="profile_image" id="profile_image" />
                                    <input type="hidden" name="user_id" id="user_id" value="<%= userData['_id'] %>" />
                                    <p class="form-control-static"><%= userData['email'] %></p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" placeholder="Enter Name" value="<%= userData[ 'name']  %>" name="name" id="name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Date Of Birth</label>
                                    <input class="form-control" placeholder="Select Date Of Birth" value="<%= userData[ 'date_of_birth']  %>" name="date_of_birth"
                                        id="date_of_birth" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control" name="gender" id="gender">
                                        <option <% if(userData[ 'gender'] ==='Male' ){ %>
                                            <%= 'selected="selected"'%>
                                                <% }%> value="Male">Male</option>
                                        <option <% if(userData[ 'gender'] ==='Female' ){ %>
                                            <%= 'selected="selected"'%>
                                                <% }%> value="Female">Female</option>
                                        <option <% if(userData[ 'gender'] ==='Others' ){ %>
                                            <%= 'selected="selected"'%>
                                                <% }%> value="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Interested In</label>
                                    <select class="form-control" id="interested_in" name="interested_in">
                                        <option <% if(userData[ 'interested_in'] ==='Male' ){ %>
                                            <%= 'selected="selected"'%>
                                                <% }%> value="Male">Male</option>
                                        <option <% if(userData[ 'interested_in'] ==='Female' ){ %>
                                            <%= 'selected="selected"'%>
                                                <% }%> value="Female">Female</option>
                                        <option <% if(userData[ 'interested_in'] ==='Others' ){ %>
                                            <%= 'selected="selected"'%>
                                                <% }%> value="Others">Others</option>
                                        <option <% if(userData[ 'interested_in']==='All' ){ %>
                                            <%= 'selected="selected"'%>
                                                <% }%> value="All">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Looking for</label>
                                    <select class="form-control" id="looking_for" name="looking_for">
                                        <option <% if(userData[ 'looking_for'] === 'Dating' ){ %>
                                            <%= 'selected="selected"'%>
                                                <% }%> value="Dating">Dating</option>
                                        <option <% if(userData[ 'looking_for'] === 'Friends' ){ %>
                                            <%= 'selected="selected"'%>
                                                <% }%> value="Friends">Friends</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Yale Affiliation</label>
                                    <select class="form-control" name="yale_affiliation" id="yale_affiliation">
                                        <option value="">-- Select --</option>
                                        <% if(affiliation.length>0) { %>
                                            <% for(var i=0; i<affiliation.length;i++) {
                                            var ffil = ( userData['yale_affiliation']._id.toString() == affiliation[i]._id.toString() ) ? "selected" : ""; %>
                                            <option value="<%=affiliation[i]._id%>" <%= ffil %> >
                                                <%= affiliation[i].affiliation_name%>
                                            </option>
                                            <% } 
                                            }else{  %>
                                            <option value="">-- Select --</option>
                                            <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea class="form-control" rows="3" name="about_me" id="about_me"><%= userData['about_me'] %></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>File input</label>
                                    <img src="/userImage/<%= userData['profile_image'] %>" width="100" height="100" id="profile_img">
                                    <input type="file" name="userfile" id="userfile" onchange="readURL(this);">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success" id="btn_update" name="save" value="Update">
                                    <button type="button" class="btn btn-default" onclick="window.history.go('-1');">Cancel</button>
                                </div>
                            </div>

                        </div>

                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </form>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
    <script>
        $(document).ready(function () {
            $('#date_of_birth').datepicker({
                format: 'yyyy-mm-dd',
                minDate: new Date(2014, 10, 30),
                maxDate: new Date(2015, 2, 5),
                setDate: new Date(2014, 10, 30)
            });
            $.validator.addMethod("nameRegex", function (value, element) {
                return this.optional(element) || /^[a-z0-9 \s]+$/i.test(value);
            }, "Enter a Valid Name");
            $("#userEdit").validate({
                rules: {
                    name: {
                        required: true,
                        nameRegex: true
                    },
                    date_of_birth: {
                        required: true,
                    },
                    gender: {
                        required: true,
                    },
                    interested_in: {
                        required: true,
                    },
                    looking_for: {
                        required: true,
                    },
                    yale_affiliation: {
                        required: true,
                    },
                    about_me: {
                        required: true,
                    },
                },
                messages: {
                    name: {
                        required: "Enter a Name",
                    },
                    date_of_birth: {
                        required: "Enter Your Date of Birth",
                    },
                    gender: {
                        required: "Select a Gender",
                    },
                    interested_in: {
                        required: "Select an Interested in",
                    },
                    looking_for: {
                        required: "Select What Are You Looking For",
                    },
                    yale_affiliation: {
                        required: "Select a Yale Affiliation",
                    },
                    about_me: {
                        required: "Enter an About Me",
                    },
                },
                submitHandler: userEdit,
            });


            function userEdit() {
                $.ajax({
                    url: "/admin/users/update/" + $("#user_id").val(),
                    type: "POST",
                    data: $("#userEdit").serialize(),
                    success: function (data, status, jqXHR) {
                        toastr.success(data.message, "Success");
                        setTimeout(function () {
                            window.location.href = '/admin/users/list';
                        }, 1000);
                    },
                    error: function (jqXHR, status, err) {
                        toastr.error(jqXHR.responseJSON.message, "Error");
                    },
                    complete: function (jqXHR, status) {}
                });
            }
        });
        
        function readURL(input) {
            if (input.files && input.files[0]) {
                name = input.files[0].name;
                var _size = input.files[0].size;
                
                if (_size > 5000000) {
                    $("#btn_update").prop("disabled", true);
                    toastr.error('Image Size Should Be Of 5MB or Less', "Error");
                } else {
                    myArray = new Array("jpeg", "jpg", "png");

                    var filename = name.split('\\').pop();
                    var ext = filename.substr(filename.lastIndexOf('.') + 1)

                    if ($.inArray(ext.toLowerCase(), myArray) !== -1) {
                        $("#btn_update").prop("disabled", false);
                        let bacereader = new FileReader();
                        if (event.target.files && event.target.files.length > 0) {
                            let file = event.target.files[0];
                            bacereader.readAsDataURL(file);
                            bacereader.onload = (e) => {
                                console.log(e.target.result);
                                $('#profile_img').attr('src', e.target.result);
                                $('#profile_image').attr('value', e.target.result);
                            };
                        }
                    } else {
                        $("#btn_update").prop("disabled", true);
                        toastr.error('Upload a Valid Image File', "Error");
                    }
                }
            }
        }
    </script>